{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Simple Webpage</title>
    <!-- <link  href="{% static 'guestbook/bootstrap.min.css'%}" rel="stylesheet"> -->
    <link  href="{% static 'guestbook/index.css'%}" rel="stylesheet">
</head>
<body>

    <header>
        <h1>Welcome to My Simple Webpage</h1>
        <a class="btn btn-light" href="{% url 'sign' %}">Sign the Webpage</a>
    </header>

    <section>
        {%for a in aboutme %}
        <h2>{{a.topic}}</h2>
        <p>
            {{a.aboutme}}
        </p>
        {% endfor %}
    </section>
             

    <section>
        <h2>Favorite Things</h2>
        <ul>
            <li>Programming</li>
            <li>Reading</li>
            <li>Learning new things</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 My Simple Webpage. All rights reserved.</p>
    </footer>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>
